.contact {
  height: 100vh;
  background-color: rgba(196, 196, 196, 0.4);
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  font-size: 25px;
  z-index: 2;
  align-items: center;
  justify-content: center;
  display: none;
  .contact__wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 80vh;
    padding: 20px;
    background-color: #db8876;
    @include size('md') {
      max-width: 60%;
      height: fit-content;
      max-height: 100%;
      border-radius: 5px;
    }
    @include size('lg') {
      max-width: 40%;
    }
    h1 {
      font-size: 45px;
      color: black;
    }

    .contact__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      flex: 1;
      margin: auto;
      margin-top: 15px;

      .form-data {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 0.2rem;
        label {
          font-size: 24px;
          color: #2c1919;
          align-self: start;
        }
        input,
        textarea {
          border: none;
          padding: 15px 10px;
          border-radius: 5px;
          margin: 5px 0 0px 0;
          width: 98%;

          &:focus {
            outline: none;
          }
        }
        textarea {
          resize: none;
          height: 30vh;
          @include size('md') {
            height: 15vh;
          }
        }

        input[type='submit'] {
          width: 50%;
          background-color: $primary;
          color: white;
          font-size: 18px;
          font-weight: 700;
          margin-top: 10px;
          align-self: center;
          cursor: pointer;
        }
        &[data-error]::after {
          content: attr(data-error);
          font-size: 0.5em;
          color: #8d0e1b;
          margin-top: 8px;
          text-align: right;
          line-height: 0.2;
          opacity: 0;
          transition: 0.3s;
        }

        &[data-error-visible='true']::after {
          opacity: 1;
        }

        &[data-error-visible='true'] .text-control {
          border: 2px solid #8d0e1b;
        }
      }
    }

    .close-btn {
      position: absolute;
      background-color: transparent;
      top: 10px;
      right: 10px;
      width: 32px;
      height: 32px;
      color: white;
      font-size: 2rem;
      cursor: pointer;
    }
  }

  .validation-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 1;
    h1 {
      font-size: 45px;
      text-align: center;
      color: black;
    }
    button {
      background-color: $primary;
      color: white;
      font-size: 18px;
      font-weight: 700;
      margin-top: 30px;
      padding: 10px;
      cursor: pointer;
    }
  }
}
