.contact-btn {
  background-color: $primary;
  color: white;
  padding: 7px 19px;
  border-radius: 5px;
  font-weight: 700;
}

.contact-btn--mobile {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  z-index: 1;
  @include size('lg') {
    display: none;
  }
}

.contact-btn--desktop {
  display: none;
  @include size('lg') {
    display: block;
  }
}
