.filters {
  font-size: 14px;
  .filters__name {
    font-weight: 700;
    margin-right: 10px;
  }
  .dropdown {
    width: fit-content;
    padding: 0 10px;
    background-color: $primary;
    border-radius: 5px;
    .dropbtn {
      color: white;
      background-color: $primary;
      font-weight: 700;
      padding: 14px;
      .fa-chevron-up {
        margin-left: 18px;
      }
    }
    .dropdown-content {
      display: flex;
      flex-direction: column;
      a {
        color: white;
        background-color: $primary;
        border-top: 1px solid white;
        font-weight: 700;

        padding: 14px;
      }
    }
  }
}
