.photograher__price {
  display: none;
  padding: 1rem;
  background: #db8876;
  width: fit-content;
  position: fixed;
  bottom: 0;
  right: 2%;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  @include size("md") {
    display: flex;
  }

  .photograher__price__total-likes {
    margin-right: 30px;
  }
}
