// BASIC STYLING
a {
  text-decoration: none;
  color: $primary;
}

html {
  width: 100%;
}

body {
  position: relative;
  padding: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}
