.cards-container {
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 30px;
  width: 100%;

  @include size('md') {
    row-gap: 50px;
  }
  @include size('lg') {
    row-gap: 100px;
    column-gap: 50px;
  }
  @include size('lg') {
    row-gap: 100px;
    column-gap: 100px;
  }
}
